extends ../layout

block content

  .row
    .col-xs-12
      .jumbotron
        h1 Here are the Coffee Machines!
      .row
        - each machine in objects
          .col-xs-6
            h4 #{machine.title}
            p Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
            p
              a.btn.btn-default(href="/machines/" + machine._id) Detail
